= render partial: "shared/errors", locals: {object: @user}

= form_for @user, url: registrations_path, html: { class: "form-horizontal" } do |f|
  .form-group
    = f.label :email, autofocus: true, class: 'control-label col-md-2'
    .col-md-4
      = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password, class: 'control-label col-md-2'
    .col-md-4
      = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation, "Confirm", class: 'control-label col-md-2'
    .col-md-4
      = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    .col-md-6.col-md-offset-2
      = f.submit class:'btn btn-primary'
      = link_to 'Cancel', lightning_talks_path, class: 'btn btn-default'
