= form_for @user, url: registrations_path, html: { class: "registration-form" } do |f|
  .div
    = f.label :email, autofocus: true
    = f.email_field :email
  .div
    = f.label :password
    = f.password_field :password
  .div
    = f.label :password_confirmation, "Confirm"
    = f.password_field :password_confirmation
  .div
    = f.submit
