-provide(:title "Home")
%h1 Lightning Talks
= link_to 'New Lightning Talk', new_lightning_talk_path
%hr
- @lightning_talks.each do |talk|
  %p
    User
    = link_to talk.user, lightning_talk_path(talk)
  %p
    %strong Description
    = talk.description
  %p
    %strong Date
    = talk.date
  %p
    = link_to 'Edit', edit_lightning_talk_path(talk)
    = link_to 'Delete', lightning_talk_path(talk), method: :delete, data:{confirm: 'Giving up?'}
  %hr
