= render partial: "shared/errors", locals: {object: @lightning_talk}

= form_for @lightning_talk, url: admin_lightning_talk_path(@lightning_talk), html: {class: "form-horizontal"} do |f|
  .form-group
    = f.label :user, class: 'control-label col-md-2'
    .col-md-4
      = f.text_field :user, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label col-md-2'
    .col-md-4
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :date, class: 'control-label col-md-2'
    .col-md-4
      = f.date_field :date, class: 'form-control'
  .form-group
    .col-md-6.col-md-offset-2
      = f.submit class:'btn btn-primary'
      = link_to 'Back', admin_lightning_talks_path, class: 'btn btn-default'
