!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LightningTalkApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-fixed-top.navbar-inverse
        .container
          = link_to "g7 Lightning Talks", lightning_talks_path, id: "logo"
          - if current_user && current_user.admin
            .pull-right
              = link_to "Logout", signout_path, class: 'navbar-btn btn btn-danger'
              = link_to "Admin", admin_path, class: 'navbar-btn btn btn-danger'
          - elsif current_user
            .pull-right
              = link_to "Logout", signout_path, class: 'navbar-btn btn btn-danger'
          - else
            .pull-right
              = link_to "Login", '/auth/github', class: 'navbar-btn btn btn-danger'
    .container
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      = yield
    %footer
      .container
        .page-header
