!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LightningTalkApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if flash[:notice]
      = flash[:notice]
  %header
    -if current_user
      = link_to "Logout", sign_out_path
    -else
      -#= link_to "Login", signin_path
      = link_to "Register", new_registration_path

    = yield
