!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LightningTalkApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-fixed-top.navbar-inverse
        .container
          = link_to "g7 Lightning Talks", '#', id: "logo"
          -if current_user
            .pull-right
              = link_to "Logout", signout_path, class: 'navbar-btn btn btn-danger'
          -else
            .pull-right
              = link_to "Login", signin_path, class: 'navbar-btn btn btn-danger'
              = link_to "Register", new_registration_path, class: 'navbar-btn btn btn-danger'
          - if flash[:notice]
            = flash[:notice]

    .container
      = yield
